*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

ul {
  overflow: auto;
  margin: 0;
}
li {
  float: right;
  list-style: none;
  padding 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.header {
  text-align: center;
  height: 100px;;
}
.content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.images {
  width: 500px;
  height: 900px;
  margin: 0 20px 0 0;
  float: left;
  /*position: relative;
  overflow: auto;*/
}
.selection-button-container {
  width: 700px;
  height: 200px;
  margin: 0
}

.section-button1 {
	width: 150px;
	float: left;
	/*display: inline;*/
	margin-left: 0
	margin-right: 0;
}
.section-button2 {
  width: 150px;
	float: left;
	/*display: inline;*/
	margin-left: 0;
	margin-right: 0;
}
.section-button3 {
  width: 150px;
  float: left;
  /*display: inline;*/
  margin-left: 0;
  margin-right: 0;
}
.img-container {
  background-image: url(../img/flat-coat.jpg);
  background-position: center center;
  width: 500px;
  height: 900px;
  margin: 0;
}
.selection-button-container label {
    display: inline;
    width: 20px;
    cursor: pointer;
}
input[type=radio],
input[type=radio] + img {
    display: none;
}
input:checked + img {
    display: block;
}
.size-container {
  position: relative;
}
.size-container:hover .show-sizeguide {
  visibility: visible;
}
.size-container .show-sizeguide {
  visibility: hidden;
  width: 500px;
  background-color: #A86216;
  color: #2B2301;
  text-align: center;
  padding: 20px;
  border-radius: 25px;
  position: absolute;
  z-index: 1400;
  top: -50px;
  left: 400px;
}
