@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Montserrat);

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
  background-color: #e8e8e8;
}
ul {
  overflow: auto;
  margin: 0;
}
li {
  float: right;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
}
.header {
  text-align: center;
  height: 100px;;
  background-color: white;
  padding-top: 5px;
}
.header h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 25px;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
}
.nav {
  background-color: white;
}
.content {
  width: 80%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}
.description {
padding-top: 100px;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 1em;
}
.description h2 {
  font-size: 2em;
}
.description h3 {
  font-size:1.5em;
}
.images {
  width: 500px;
  height: 900px;
  margin: 10 20px 0 0;
  float: left;
  position: relative;
}
.images:after {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  content: "Click images to see details";
  padding-left: 20px;
}
.selection-button-container {
  width: 500px;
  height: 170px;
  margin: 0
}
.selection-button1 {
	width: 150px;
	float: left;
	display: block;
	margin-left: 0
	margin-right: 0;
}
.selection-button2 {
  width: 150px;
	float: left;
	display: block;
	margin-left: 0;
	margin-right: 0;
}
.selection-button3 {
  width: 150px;
  float: left;
  display: block;
  margin-left: 0;
  margin-right: 0;
}
.img-container {
  background-image: url(../img/front-coat.jpg);
  background-position: center center;
  width: 500px;
  height: 900px;
  margin: 0;
}
.selection-button-container label {
    display: inline;
    cursor: pointer;
}
input[type=radio],
input[type=radio] + img {
    display: none;
}
input:checked + img {
    display: block;
}
.size-container {
  position: relative;
  width: 200px;
  margin-bottom: 60px;
  margin-left: 500px;
}
.show-sizeguide {
  font-family: 'Montserrat', sans-serif;
}
.size-container:hover .show-sizeguide {
  visibility: visible;
}
.size-container .show-sizeguide {
  visibility: hidden;
  width: 525px;
  background-color: white;
  color: #2B2301;
  text-align: center;
  padding: 20px;
  border-radius: 25px;
  position: absolute;
  z-index: 1400;
  top: -200px;
  left: -10px;
}
table {
  width: 400px;
  margin-top: 20px;
}
tr {
  height: 25px;
}
table tr:first-of-type:first-child {
  text-align: right;
}
table tr th:nth-of-type(1) {
  text-align: left;
}
td {
  text-align: right;
  color: #4d4d4d;
}
label {
  display: block;
  padding: 15px;
  font-size: 1.5em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
select {
  border: none;
  width: 200px;
  height: 38px;
  background-color: black;
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
option {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-color: black;
  color: white;
}
select:focus {
  outline: none;
}
button {
  width: 200px;
  background-color: black;
  color: white;
  padding: 9px;
  border-radius: 8px;
}
