*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

ul {
  overflow: auto;
  margin: 0;
}
li {
  float: right;
  list-style: none;
  padding 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.header {
  text-align: center;
  height: 100px;;

}
